mixin sAuth(title)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth
		.container
			.panel-block&attributes(attributes)
				h1= title
				+form-wrap
					+input("Email",'email','Email')
					+input("Введите пароль",'password','Введите пароль')
					.row.mb-3
						.col
							+e.col-auto
								label.form-check
									input.form-check-input(type="checkbox")
									span.form-check-label
										| Запомнить меня
							
						.col-auto
							a(href="#").text-body.small Забыли пароль?
					button.btn.btn-primary.mb-2(type="submit") Войти
					a.btn.btn-primary.btn-body(href="#") Зарегистрироваться
	// end sAuth
mixin sAuth2(title)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth
		.container
			.panel-block&attributes(attributes)
				h1= title
				+form-wrap
					+input("Фамилия",'tet','Фамилия')
					+input("Имя",'tet','Имя')
					+input("Email",'email','Email')
					+input("Введите пароль",'password','Введите пароль')
					.row.mb-3
						.col
							+e.col-auto
								label.form-check
									input.form-check-input(type="checkbox")
									span.form-check-label
										| Я даю согласие на обработку персональных данных 
					button.btn.btn-primary.btn-body(type="submit") Зарегистрироваться
	// end sAuth
mixin sAuth3(title)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth
		.container
			.panel-block&attributes(attributes)
				+e.header 
					h1= title
					p Вы&nbsp;можете перейти в&nbsp;профиль и&nbsp;настроить его или начать поиск украшений с&nbsp;главной

				
				+e.btns-mobile-small.row
					.col-6
						a.btn.btn-primary(href="#") Перейти в профиль
					.col-6
						a.btn.btn-primary.btn-body(href="#") Продолжить покупки
	// end sAuth
mixin sAuth4(title)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth
		.container
			.panel-block&attributes(attributes)
				+e.header 
					a.text-body.link-back(href="#") 
						+icon("chevron-left")
						| Назад
					h1= title
					p Введите свой адрес электронной почты и&nbsp;мы&nbsp;вышлем вам код для смены пароля
				+form-wrap 
					+input("Email",'email','Email')  
					button.btn.btn-primary.btn-body(type="submit") Выслать код
	// end sAuth
mixin sAuth5(title)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth
		.container
			.panel-block&attributes(attributes)
				+e.header 
					a.text-body.link-back(href="#") 
						+icon("chevron-left")
						| Назад
					h1= title
					p Мы отправили код на ваш электронный адрес
				+form-wrap
					.passcode-inputs
						+input("-",'text').passcode-js
						+input("-",'text').passcode-js
						+input("-",'text').passcode-js
						+input("-",'text').passcode-js
						+input("-",'text').passcode-js 
					button.btn.btn-primary.btn-body(type="submit") Подтвердить аккаунт
	// end sAuth
mixin sAuth6(title)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth
		.container
			.panel-block&attributes(attributes)
				+e.header  
					h1= title 
				+form-wrap
					+input("Введите новый пароль",'password','Введите новый пароль')  
					button.btn.btn-primary.btn-body(type="submit") Изменить пароль
	// end sAuth
mixin sAuth7(title)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth
		.container
			.panel-block&attributes(attributes).text-center
				+e.header  
					h1= title
					p Ваш пароль был успешно изменен
				a.btn.btn-primary(type="submit") Перейти в профиль
	// end sAuth