include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	//- .swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
	//- 	+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider


mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")

mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск..." inputmode='search')
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)


mixin iconsWrap
	+b.icons-wrap
		a(href='#'): +icon('vk')
		a(href='#'): +icon('insta')
		a(href='#'): +icon('tg')
		a(href='#'): +icon('whatsapp')


mixin range(c1, c2, fromTxt='От', toTxt='До',)
	+b.range-wrap.price_slider_amount&attributes(attributes)
		input.range-slider.slider-js(type='text'  data-min=c1  data-max=c2)

mixin product-item(i, t,pr, badge)
	+b.ARTICLE.product-item
		+e.img-wrap(href="#")
			+icon('heart')
			.img-wrap-center 
				+img(`img/catalog-${i}.png`)
			if badge
				+e.badge= badge
		+e.caption
			+e.title!= t
			if !badge
				+e.wrapper
					+e.price.fw-700!= pr
					+e.btn.btn.btn-primary(href='#') в корзину
			if badge
				+e.btn.btn.btn-secondary(href='#') узнать о поступлении

mixin product-item-fav(i, t,pr, badge)
	+b.ARTICLE.product-item
		+e.img-wrap(href="#")
			svg(class="icon icon-heart active")
				use(xlink:href="img/svg/sprite.svg#heart")
			.img-wrap-center 
				+img(`img/catalog-${i}.png`)
			if badge
				+e.badge= badge
		+e.caption
			+e.title!= t
			if !badge
				+e.wrapper
					+e.price.fw-700!= pr
					+e.btn.btn.btn-primary(href='#') в корзину
			if badge
				+e.btn.btn.btn-secondary(href='#') узнать о поступлении
	// /.product-item